@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'JetBrains Mono', monospace;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}


html,
body {
  max-width: 100vw;
  font-family: var(--font-mono);
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'JetBrains Mono', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

h5 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: rgb(212, 210, 210);
  font-weight: 100;
  display: flex;
  justify-content: center;
  transform: scale(1.2,.999);

}

h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  transform: scale(1.1,.9);
}

h2 {
  font-size: 4.5rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-weight: 900;
  transform: scale(1.2,.999);

}

html {
  color-scheme: dark;
}
