.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adjusted padding for mobile devices */
    background-color: rgba(0, 0, 0, 0.8); /* Added background for better visibility on mobile */
  }
  
  .navbar-img {
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }
  
  .navbar-element {
    margin: 0 0.75rem;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }
  
  .navbar-img:hover,
  .navbar-element:hover {
    color: #c084fc; /* Updated hover color */
  }
  
  .navbar-text {
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 15px;
    }
  
    .navbar-element,
    .navbar-img {
      font-size: 18px;
      margin: 5px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbar {
      flex-direction: column;
      padding: 10px;
    }
  
    .navbar-element,
    .navbar-img {
      font-size: 16px;
      margin: 5px 0;
    }
  }
  