.navbar {
    display: flex;
    
}

.navbar-element {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}

.navbar-text {
    margin-bottom: 3rem;
    
    padding: 10px;
}

.navbar-element:hover {
    color: #00bfff;
}
